{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'app/css/app.css' %}">
  <link rel="stylesheet" href="{% static 'app/css/reset.css' %}">
  {% for val in css %}
    <link rel="stylesheet" href="{% static val %}">
  {% endfor %}
  <title>leejinseok.io</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">leejinseok.io</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">포스트 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">프로젝트</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">갤러리</a>
        </li>
      </ul>
    </div>
  </nav>
  {% block content %}
  {% endblock %}

  {% for val in js %}
    <script src="{% static val %}"></script>
  {% endfor %}
</body>
</html>