{% extends 'app/base.html' %}

{% block content %}
<main ng-controller="mainCtrl">
  <div class="container container-super">
    {% include 'app/partials/breadcrumb.html' %}
    <form action="{% url 'app:api-posts' %}" method="post" id="frm">
      {% csrf_token %}
      <div class="form-group">
        <input 
          type="text" 
          class="form-control"
          name="title" 
          aria-describedby="emailHelp" 
          placeholder="제목을 입력해주세요."
          autofocus>
      </div>

      <div class="form-group">
        <select name="category" class="form-control">
          {% for post_category in post_categories %}
            <option value="{{ post_category.id }}">
              {{ post_category.display_name }}
            </option>
          {% endfor %}
        </select>
        
      </div>
      <div class="form-group">
        <div class="editable"></div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">
          등록
        </button>
      </div>
    </form>
  </div>
</main>
{% endblock %}